
div {
    text-align: center;
}
    div:first-child{
        display: none;
        @media(max-width: 700px){
            display: block;
            font-weight: 300;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }



#useName {
    max-width: 300px;
}

#firstName {
    max-width: 200px;
}

#lastName {
    max-width: 200px;
}

#emailIn {
    max-width: 300px;
}

#passIn {
    max-width: 300px;
}

#subButton {
    max-width: 150px;
}