.share-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-style: solid;
    box-shadow: 2px 2px;
    max-width: 60%;
    background-color: lightgrey;
    height: 80vh;
    margin: 20px auto;
    padding: 30px;
    overflow-y: scroll;
}

.messages {
    width: 90%;
    flex: 0.99;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
   display: flex;
   margin-bottom: 40px;
}

.message .left img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.message .left h3 {
    margin: 5px;
}

.message .right {
    margin-left: 20px;
}

.message .right span {
    font-size: 14px;
    color: rgb(107, 107, 107);
    padding-left: 5px;
}
.message .right p {
    max-width: 300px;
    text-align: left;
}
.message .right h3 {
    text-align: left;
}

.add-share-container {
    margin-top: 80px;
}