#tabs {
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.nav {
    margin-bottom: 50px;
}

.nav-links {
    color: white;
    margin: 0 10px;
}

.nav-links:hover {
    color: lightgray;
    text-decoration: none;
}

